
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="alert alert-warning">
<b>Warning</b>
</div>

<div class="alert alert-info">
<b>info</b>
</div>

<div class="alert alert-secondary">
<b>secondary</b>
</div>

<div class="alert alert-dark">
<b>Dark</b>
</div>


<div class="alert alert-light">
<b>light</b>
</div>

<div class="alert alert-primary">
<b>primary</b>
<a href="#" class="alert-link"> read this message </a>
</div>


<div class="alert alert-danger">
<b>Danger</b>
</div>

</div>


<div class="container">
<h2> Closing Alert </h2>

<div class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert">
&times;</button>
<b> Suceess </b>
</div>


<div class="alert alert-success alert-dismissible fade show">
<h3 class="alert-heading">
<i>Suceess</i>
 </h3>
<p> This is paragraph  This is paragraph This is paragraph This is paragraph
This is paragraph This is paragraph This is paragraph This is paragraph </p>

<hr>

<p> This is paragraph This is paragraph This is paragraph </p>

<button type="button" class="close" data-dismiss="alert">
&times;</button>

</div>



</div>


</body>
</html>
