
<body class="bg-light">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>


  <h1 class="bg-success text-white"> M.Sc Physics Syllabus</h1>

      <div class="container">
        <table class="table table-striped table-success">
      <thead>
        <tr>
          <th scope="col">Sl.No.</th>
          <th scope="col">Subjects of Study</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mathematical Physics	</td>

        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Mechanics I (Quantum and Statistical)</td>

        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Electromagnetic Theory I</td>

        </tr>

        <tr>
          <th scope="row">4</th>
          <td>Mechanics of Deformable Elastic Solids</td>

        </tr>

        <tr>
          <th scope="row">5</th>
          <td>Laboratory	</td>

        </tr>

        <tr>
          <th scope="row">6</th>
          <td>Mechanics II Quantum and Statistical</td>

        </tr>

        <tr>
          <th scope="row">7</th>
          <td>Electromagnetic Theory II and Crystal Physics</td>

        </tr>

        <tr>
          <th scope="row">8</th>
          <td>Electronics I	</td>

        </tr>

        <tr>
          <th scope="row">9</th>
          <td>Physics of Semiconductor Devices</td>

        </tr>

        <tr>
          <th scope="row">10</th>
          <td>Modern Optics	</td>

        </tr>

        <tr>
          <th scope="row">11</th>
          <td>Laboratory	</td>

        </tr>

      </tbody>
    </table>

  </div>

</body>
