<body class="bg-light">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>




<center><h1 class="bg-dark text-white">Welcome To About page </h1></center>


    <div class="container">

    <div class="row">

      <div class="col-lg-4">
        <img class="img-circle" src="https://www.gadgetronicx.com/wp-content/uploads/2020/03/stepper-motor.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Resistors : Working and how to use in circuits</h2>
        <p>Resistor is the most basic component every electronic enthusiast or engineer will start with when stepping into the world of Electronics. So to help the beginners I have put together tutorial where am going to explain the working of resistor…</p>
        <p><button type="button" class="btn btn-lg btn-warning">View detail &raquo;</button></p></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="https://www.gadgetronicx.com/wp-content/uploads/2019/08/capacitors.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Capacitor tutorial : Working and How to use in Circuits</h2>
        <p>Capacitors are one of the most used component in a Electronic circuit. It’s pretty fair to say that it’s nearly impossible to find a functioning circuit without using Capacitor. This tutorial is written to provide a good understanding about Capacitor…</p>
        <p><button type="button" class="btn btn-lg btn-warning">View detail &raquo;</button></p></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="https://www.gadgetronicx.com/wp-content/uploads/2019/08/inductor-Taxonomy.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Inductor tutorial : Working and how to use in practical Circuits</h2>
        <p>Inductor is a passive component in Electronics and considered most important one after Resistors and Capacitors. Speaking of Inductors, it is nothing more than a wire wound tightly around a core. This tutorial is written to provide good understanding about…</p>
        <p><button type="button" class="btn btn-lg btn-warning">View detail &raquo;</button></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


  </div>

</body>
