<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

	<title>Website</title>
</head>
<body bgcolor="success">

{{>header}}

<!-- <p>{{screamIt welcomeMessage}}</p> -->

<div class="jumbotron" bgcolor="success">
       <h1>Electronic Tutorials</h1>
       <p class="lead">Tutorials from all the electronic concepts with brief explanation, solving equations and bringing formulas. Methods to design and analyse electronic circuits</p>
       <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
     </div>

     <!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Stepper motor : working, construction, types and driving methods</h2>
    <p class="text-danger">Stepper Motors have revolutionized machinery in today’s world. These motors are mostly used in 3D printers, CNC machines, Robotics etc. Stepper motor is nothing but a DC motor that moves in steps and each step can be controlled with precision….</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Diode tutorial: Guide to use and Applications</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Inductor tutorial : Working and how to use in practical Circuits</h2>
    <p>Inductor is a passive component in Electronics and considered most important one after Resistors and Capacitors. Speaking of Inductors, it is nothing more than a wire wound tightly around a core. This tutorial is written to provide good understanding about…</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div

{{>footer}}



</body>
</html>
