<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

	<title>Website</title>
</head>
<body bgcolor="success">

{{>header}}


<div class="jumbotron mt-3">
    <h1>SKILLS THAT GROW WITH YOU</h1>
    <p class="lead">Are you interested in this Course?</p>
    <a class="btn btn-lg btn-warning" href="/docs/4.4/components/navbar/" role="button">Lets Started &raquo;</a>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">MBA</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> -->
          <ul class="list-unstyled mt-3 mb-4">
            <li>Master of management studies</li>
            <li>Our one-year masters programs help you hit the ground running.</li>
            <li>Taught by our top-ranked faculty in a team-based learning model.</li>

          </ul>
          <button type="button" class="btn btn-lg btn-block btn-danger">View More</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">M.Com</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> -->
          <ul class="list-unstyled mt-3 mb-4">
            <li> Masters Of Commerce Specifications.</li>
            <li>The M.Com degree is a postgraduate course offered for graduates in commerce.</li>
            <li>This is a two-year course approved by UGC. </li>
            <!-- <li>The program is generally focused on different disciplines like accounting, actuarial science, business management,  economics, statistics, finance.</li> -->
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-warning">View More</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">BBA</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
          <ul class="list-unstyled mt-3 mb-4">
            <li>Bachelor of Business Administration is a 3-years undergraduate course.</li>
            <li>BBA course designed to provide a clear understanding of the business-oriented concepts.</li>
            <!-- <li>Eligibility criteria for BBA course is should have a mathematical/commerce background in 10+2.</li> -->
            <!-- <li>Help center access</li> -->
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">View More</button>
        </div>
      </div>
    </div>

{{>footer}}



</body>
</html>
