<body class="bg-light">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<center><h1 class="bg-dark text-white">MCA Course Details </h1></center>


    <div class="container">

      <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Degree</th>
        <th scope="col">Master</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Full Form	</td>
        <td>Master of Computer Application</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Duration</td>
        <td>Course Duration of Master of Computer Application [MCA] is 3 Years.</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Age</td>
        <td>No Age Limit</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Minimum Percentage</td>
        <td>45-50% in undergraduate</td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Subjects Required	</td>
        <td>Mathematics in 10+2 or graduation level</td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>Average Fees Incurred	</td>
        <td>Average MCA course fee ranges from INR 30,000 - 2.4 L per annum</td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>Similar Options of Study</td>
        <td>MCM, M.Sc (Computer Science), B.Tech (Computer Science and Engineering), BCA+MCA, MCS</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>Average Salary Offered	</td>
        <td> MCA course salary is INR 5.3 L per annum</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>Employment Roles</td>
        <td>Senior Software Engineer, Software Engineer, Software Developer, Sr. Software Engineer / Developer / Programmer, Team Leader (IT), Project Manager (IT), Lead Software Engineer, etc.</td>
      </tr>

      <tr>
        <th scope="row">10</th>
        <td>Placement Opportunities	</td>
        <td>HCL Technologies Ltd., Tata Consultancy Services Limited, Accenture, Cognizant Technology Solutions Corp, Capgemini, Techmahindra Ltd, Sapient Corporation, Oracle Corp., Mindtree Consulting etc.</td>
      </tr>

    </tbody>
  </table>

    <h2>MCA Course:</h2>
    <p>The <a title="full form of MCA" href="https://www.getmyuni.com/full-form-of-mbbs-mca-msc-bba-mba/h/26">full form of MCA </a>is Master of Computer Applications, it is a Postgraduate course in Computer Science and Applications, and the MCA course duration is for three years.</p>
    <p>The programme is designed to provide students with a piece of solid theoretical knowledge about Computer Application along with the practical application of theoretical knowledge through MCA course subjects and syllabus. The MCA course is intended to provide modern, industry-oriented education in applied computer science.</p>
    <a class="btn btn-lg btn-warning" href="/docs/4.4/components/navbar/" role="button">Get MCA Fee Structure Details &raquo;</a>
    <p>MCA course is a full-time degree course with a duration of 3 years 6 semesters of study covering various aspects of computational theory, programming, algorithm design, and optimization, network and database management, mobile technologies, electronics, mathematics, etc. The MCA course, therefore, aims at imparting comprehensive knowledge with equal emphasis on theory and practice.</p>
    <p>MCA course is offered by Institutions all over the nation. Some of the<a title="top colleges for MCA in India" href="https://www.getmyuni.com/mca-colleges"> top colleges for MCA in India</a> like</p>

</div>

</body>
